* {
    margin: 0;
    padding: 0;
}

.container {
    width: 500px;
    height: 100vh;
    /*background-color: rgba(51, 97, 90, 0.7);*/
    margin: 0 auto;
    text-align: center;
}

.text {
    font-size: 50px;
    padding-top: 100px;
}

input {
    display: block;
    margin: 30px 95px;
    width: 300px;
    height: 30px;
    padding: 5px;
}

.submit {
    width: 313px;
    background-color: black;
    border: none;
    color: white;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

p {
    color: red;
}